<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Varenavn</th>
            <th>Pris</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{'/update/' + ${product.id}}">Opdater</a></td>
            <td><a th:href="@{'/delete/' + ${product.id}}">Slet</a></td>
        </tr>
    </table>
    <a href="create">Tilføj nyt produkt</a>
</body>
</html>