<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Update Product</title>
</head>
<body>
    <h1>Opdater Produkt</h1>

    <form action="/update" method="post">
        <input type="hidden", name="id" th:value="${product.id}">
        <div>
            <input type="text" name="name" th:text="Navn" th:value="${product.name}">
        </div>
        <div>
            <input type="text" name="price" th:text="Pris" th:value="${product.price}">
        </div>
        <div>
            <input type="submit" value="Opdater">
        </div>
    </form>
</body>
</html>